@model BLOGIC_CRM.Models.Smlouva

@{
    ViewData["Title"] = "Delete";
}

<h1>Smazat smlouvu</h1>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EvidencniCislo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EvidencniCislo)
        </dd>
    </dl>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Klient)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Klient.CeleJmeno)
        </dd>
    </dl>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SpravceSmlouvy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SpravceSmlouvy.CeleJmeno)
        </dd>
    </dl>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DatumUzavreni)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DatumUzavreni)
        </dd>
    </dl>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DatumPlatnosti)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DatumPlatnosti)
        </dd>
    </dl>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DatumUkonceni)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DatumUkonceni)
        </dd>
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Smazat" class="btn btn-danger" /> |
        <a asp-action="Index">Zpátky do seznamu smluv</a>
    </form>
</div>
